textarea, input, select {
    background-color: #f2f2f2 !important;
}

.title {
    font-family: 'Patua One', cursive;
    color: #4F216C;
    margin-bottom: 25px;
}

body {
    overflow-y: scroll;
    background: url('/img/10.png') no-repeat center center fixed;
    background-size: cover;
}

#ticket-submission {
    background-color: #fff;
    margin-top: 3%;
    border: 2px solid #4F216C;
    border-radius: 15px;
    padding: 0 15px 15px 15px;
    box-shadow: 0 10px 19px 5px rgba(0,0,0,0.35);
}

#progress-tick {
    cursor: pointer !important;
}

#progress-tick .form-control[disabled] {
    cursor: pointer !important;
}

#full-service-form {
    display: none;
    margin-top: 25px;
}

.form-control:focus {
    border-color: #8A3DDE;
    box-shadow: inset 0 1px 1px rgba(145, 70, 183, 0.28), 0 0 8px rgba(145, 70, 183, 0.38);
}

#submit-ticket {
    background: #8e5fb7;
    background: -moz-linear-gradient(top,  #8e5fb7 0%, #4f2170 100%);
    background: -webkit-linear-gradient(top,  #8e5fb7 0%,#4f2170 100%);
    background: linear-gradient(to bottom,  #8e5fb7 0%,#4f2170 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#8e5fb7', endColorstr='#4f2170',GradientType=0
    );
    color: white;
}

#submit-ticket:hover {
    background: #9c72c0;
    background: -moz-linear-gradient(top,  #9c72c0 0%, #532376 100%);
    background: -webkit-linear-gradient(top,  #9c72c0 0%,#532376 100%);
    background: linear-gradient(to bottom,  #9c72c0 0%,#532376 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#9c72c0', endColorstr='#532376',GradientType=0
    );
}

.logo {
    margin-top: 15px;
}

.footer-text {
    margin-top: 10px;
}

@media only screen and (max-width : 992px) {
    .display {
        margin-bottom: 0px;
    }

    .form-group input, select {
        margin-bottom: 10px;
    }

    .footer-text {
        margin-top: 0px;
    }
}

@media only screen and (max-width : 480px) {
    body {
        background: none;
    }

    #ticket-submission {
        margin-top: 0;
        border: none;
        box-shadow: none;
    }

    #submit-ticket {
        width: 100%;
    }

    h1 {
        font-size: 25px;
    }
}
